.idea/
.coverage
bin/
include/
lib/
pip-selfcheck.json
share/
dist/
*.pyc
build/
venv/
output/
compiler_compat/
ssl/
conda-meta/
etc/

*.ipynb_checkpoints**

etc/jupyter/jupyter_notebook_config.d/

notebooks/model.h5
notebooks/train.png
notebooks/figs
notebooks/models
notebooks/tensorboard_out
notebooks/model_weights/
notebooks/prev_trained_models/
notebooks/trained_model/
notebooks/training_ckpt/
notebooks/config.py

notebooks/exp_config.yaml
