.idea/
.coverage
bin/
include/
lib/
pip-selfcheck.json
share/
dist/
*.pyc
build/
venv/
output/
compiler_compat/
ssl/
conda-meta/
etc/

*.ipynb_checkpoints**

etc/jupyter/jupyter_notebook_config.d/

notebooks/model.h5
notebooks/train.png
notebooks/figs
notebooks/models
notebooks/tensorboard_out
notebooks/model_weights/
notebooks/prev_trained_models/
notebooks/trained_model/
notebooks/training_ckpt/
notebooks/config.py

notebooks/exp_config.yaml

notebooks/exp_logs/

notebooks/analysis/single_task_nets/prev_trained_models/

notebooks/training/figs/

notebooks/training/.neptune/

notebooks/training/trained_model/

notebooks/training/training_ckpt/

notebooks/training/trained_model.zip

notebooks/analysis/prev_trained_models

notebooks/analysis/single_task_nets/.neptune/

notebooks/training/training_curves.png
