absl-py @ file:///tmp/build/80754af9/absl-py_1615411202722/work
aiohttp @ file:///tmp/build/80754af9/aiohttp_1614360992924/work
astroid==2.4.2
astunparse==1.6.3
async-timeout==3.0.1
attrs==19.3.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1588608214987/work
blinker==1.4
bravado==10.6.2
bravado-core==5.17.0
brotlipy==0.7.0
cachetools @ file:///tmp/build/80754af9/cachetools_1611600262290/work
certifi==2020.6.20
cffi @ file:///tmp/build/80754af9/cffi_1613246945912/work
chardet @ file:///tmp/build/80754af9/chardet_1605303185383/work
click @ file:///home/linux1/recipes/ci/click_1610990599742/work
coverage @ file:///tmp/build/80754af9/coverage_1614613670853/work
cryptography @ file:///tmp/build/80754af9/cryptography_1616769286105/work
cycler==0.10.0
Cython @ file:///tmp/build/80754af9/cython_1614014838717/work
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.3
entrypoints==0.3
flatbuffers @ file:///tmp/build/80754af9/python-flatbuffers_1614345733764/work
future==0.18.2
gast @ file:///tmp/build/80754af9/gast_1597433534803/work
gitdb==4.0.5
GitPython==3.1.7
google-auth @ file:///tmp/build/80754af9/google-auth_1616008050444/work
google-auth-oauthlib @ file:///tmp/build/80754af9/google-auth-oauthlib_1617120569401/work
google-pasta==0.2.0
googleapis-common-protos==1.53.0
graphviz==0.14.2
grpcio @ file:///tmp/build/80754af9/grpcio_1614884175859/work
h5py @ file:///tmp/build/80754af9/h5py_1593454122442/work
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
imageio==2.9.0
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1593211370946/work
importlib-resources==5.1.2
imutils==0.5.3
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1595446881062/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1593235467607/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.6.1
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1595018901065/work
Jinja2==2.11.2
joblib==0.16.0
json5==0.9.5
jsonpointer==2.0
jsonref==0.2
jsonschema==3.2.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1594732094290/work
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab==2.2.0
jupyterlab-server==1.2.0
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing @ file:///tmp/build/80754af9/keras-preprocessing_1612283640596/work
keras-vggface @ git+https://github.com/rcmalli/keras-vggface.git@719ad75625fe51436b9a9479114b3d136847e11a
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lxml==4.5.2
Markdown @ file:///tmp/build/80754af9/markdown_1614363528767/work
MarkupSafe==1.1.1
matplotlib==3.3.0
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
monotonic==1.5
msgpack==1.0.0
msgpack-python==0.5.6
mtcnn==0.1.0
multidict @ file:///tmp/build/80754af9/multidict_1607367757617/work
nbconvert==5.6.1
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1594060262917/work
neptune-client==0.9.1
neptune-notebooks==0.0.16
neptune-tensorboard==0.3.13
networkx==2.4
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1594078840609/work
numpy==1.19.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opencv-python==4.3.0.36
opt-einsum==3.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas==1.0.5
pandocfilters==1.4.2
parso==0.7.1
path==15.0.0
path.py==12.5.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
promise==2.3
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1592500439797/work
protobuf==3.14.0
psutil==5.7.2
ptyprocess==0.6.0
py3nvml==0.2.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pydot==1.4.1
Pygments==2.6.1
PyJWT==1.7.1
pylint==2.6.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.1
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
requests-oauthlib==1.3.0
rfc3987==1.3.8
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
scikit-image==0.17.2
scikit-learn==0.23.1
scipy @ file:///tmp/build/80754af9/scipy_1616703172749/work
seaborn==0.10.1
Send2Trash==1.5.0
simplejson==3.17.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
smmap==3.0.4
statsmodels==0.12.0
strict-rfc3339==0.7
swagger-spec-validator==2.7.3
tensorboard==2.4.1
tensorboard-plugin-wit==1.7.0
tensorflow @ file:///home/builder/ktietz/aggregate/tensorflow_recipes/ci_cpu/tensorflow-base_1614543347059/work/tensorflow_pkg/tensorflow-2.4.1-cp38-cp38-linux_x86_64.whl
tensorflow-datasets==4.2.0
tensorflow-estimator @ file:///home/builder/ktietz/aggregate/tensorflow_recipes/ci_te/tensorflow-estimator_1614592767119/work/whl_temp/tensorflow_estimator-2.4.0-py2.py3-none-any.whl
tensorflow-metadata==0.30.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.7.22
toml==0.10.1
tornado==6.0.4
tqdm==4.48.0
traitlets==4.3.3
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1611751222202/work
urllib3 @ file:///tmp/build/80754af9/urllib3_1615837158687/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1592931742287/work
webcolors==1.11.1
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug @ file:///home/ktietz/src/ci/werkzeug_1611932622770/work
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1594164345747/work
wrapt==1.12.1
xmltodict==0.12.0
yarl @ file:///tmp/build/80754af9/yarl_1606939922162/work
zipp==3.1.0
