typing-extensions==3.7.4.3
imutils==0.5.3
jupyterlab==3.4.3
ipywidgets
Keras==2.4.3
matplotlib==3.3.0
mtcnn==0.1.0
neptune-client==1.2.0
numpy==1.19.5
opencv-python==4.3.0.36
pandas==1.0.5
Pillow==7.2.0
psutil==5.7.2
pydot==1.4.1
scikit-learn==0.23.1
scipy==1.7.1
tensorflow==2.5.0
tensorflow-gpu==2.5.0
tensorflow-datasets==4.2.0
tqdm==4.48.0
seaborn==0.11.2
pyglove==0.2.1
#nats_brench
#xautodl
#torch==1.8.0+cu111
#torchvision==0.9.0+cu111
torchview==0.2.6
graphviz==0.20.1
nas-bench-201==2.1
#jupyter_contrib_nbextensions
deprecated==1.2.14
